title: Describe the Problem, Not Your Solution
date: 5-11-2014
abstract: It's 9am, I am sitting behind my desk and taking a sip from my first coffee &mdash; not a good time to discuss anything to be honest &mdash; and someone walks up to me and starts a sentence with “I have a great idea for a cool new feature…”

{% extends "post.html" %}
{% block body %}

<p class="intro">It's 9am, I am sitting behind my desk and taking a sip from my first coffee &mdash; not a good time to discuss anything to be honest &mdash; and someone walks up to me and starts a sentence with “I have a great idea for a cool new feature…”</p>

<figure>
<img src="{% static 'img/posts/nooooo.gif' %}" />
<figcaption>Me when someone pitches a "cool new feature".</figcaption>
</figure>

<p>
As a product designer you are not randomly building features that might seem cool, you are solving problems with design. Or at least you are trying to do so. A feature should always be a solution to a specific problem. Only after thoroughly researching and understanding the problem the search for the right solution or feature can begin.
</p>
<blockquote>
<p>
As a product designer you are not randomly building features that might seem cool, you are solving problems with design.
</p>
</blockquote>
<p>
To understand all the problems worth solving, you &mdash; the designer &mdash; are of course very much depended on all the information you can get from users, co-workers, investors, tools etc.
In an ideal world all those people would describe every problem they face in detail without presenting you with a possible solution. But, this is exactly where it often goes wrong.
</p>
<p>
As a designer you have to deal with the fact that everyone has an opinion about design. And you have to get used to the constant stream of well-meant “improvements” for your product. Often these suggestions are “cool new features” that would majorly improve the product.
</p>
<p>
Just because something looks cool or sounds like a great idea doesn’t mean it solves a problem. Often these suggestions start with “You know what would be cool…” or “I had an awesome idea for…”. The problem with these suggestions and ideas is that they don’t describe the problem they describe a solution for a yet undefined problem that apparently needs to be solved.
</p>
<p>
It is part of the designers job to translate those feature suggestions to what the underlying problem is. Easier said than done. My advice to anyone who has a feature idea or suggestion for a product designer: <b>Describe the problem, not your solution.</b>
</p>

{% endblock body %}