title: The Grumpy Founder Syndrome
date: 24-07-2014
abstract: We had a meeting with our investors the other day. Lucky enough we have have investors with who we can be completely open and honest. When they asked us how things were going, we started rambling about <i>all</i> the things that we still have to improve, things that we still have to build and

{% extends "post.html" %}
{% block body %}

<p class="intro">We had a meeting with our investors the other day. Lucky enough we have investors with who we can be completely open and honest. When they asked us how things were going, we started rambling about <i>all</i> the things that we still have to improve and all the things that we still have to do. We had the feeling we were simply moving too slow and loosing too many potential users because we weren't able to ship fast enough.</p>

<p>One of our investors stopped us and asked concerned if things are really going that bad, he didn't expect this answer. Because from the outside it seemed like things were great, we easily reached our targets, we have users that love us and an active community of students and teachers in all kind of topics. So what's up with this complaining about things are moving too slow? Then it hit me: </p>

<blockquote><p>This is what progress feels like.</p></blockquote>

<p>As a founder you are always thinking at least 10 steps ahead, thinking about all the things that still have to be done. You never focus on what you have accomplished so far. It is the next <i>gazillion</i> steps that occupy the mind. No time to think about where you are right now, it is all about what's next.</p>

<p>The danger is, when talking to anyone about your company, you are always talking about the things that haven't been done, things that are still not good enough, things you hope to accomplish in the future. This might come across as if things are going bad while the opposite is true.</p>

<h2> Note to self</h2>
<p>That meeting with our investors I made a note to myself: When talking to people, don't forget to <i>also</i> tell about all the awesome <i>&amp;</i> cool things we accomplished. Tell about all those users that love our product, tell about the rapidly growing library, about the funding we secured and the super talented people who are willing to join our awesome little team.</p>

<p>Just like the <a href="../posts/the-grumpy-designers-syndrome.html">Grumpy Design Syndrome</a> this feeling of grumpiness might feel uncomfortable, but it is exactly the feeling that brought us to the point we are today. It is now that I realize, that even when we grow to a super successful multi-billion dollar company I will still start talking about the gazillion things we still have to do when you ask me how it goes with <a href="https://gibbon.co">Gibbon</a>.</p>

{% endblock body %}
