{% extends "base.html" %}
{% block content %}
<script type="text/javascript" charset="utf-8" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		
		// Add the missing url to the text
		$("#url").text(window.location.pathname);
		
		// Fix the css locations dynamically
		$("head link").each(function() {
			for (var i=0; i<window.location.pathname.split(/\//g).length-2; i++)
				$(this).attr("href", "../" + $(this).attr("href"));
		});
		
	})
</script>
<article>
<div class="wrap">
<header>
<h1>404 ERRRRROR</h1>
<p class="meta">Page not found</p>
</header>
<p class="center">
The pirate says the page <b id="url"></b> does not exist.
</p>
<figure>
  <img src="static/img/errrror.jpg" alt="pirate says no">
</figure>
<p class="center">
If I were you I would <a href="/">go home &raquo;</a>
</p>
</div><!--/wrap-->
</article>
{% endblock %}
