{% extends "base.html" %}



{% block content %}

<header class="green">
	<hr />
	<div class="wrap">
		<h1>About Me</h1>
		<a href="" class="button">Follow @wdeb</a> 
	</div><!--/wrap-->
</header>

<section class="textual">
<div class="wrap">
<p class="intro">
I am a psychologist turned designer from Leiden, The Netherlands. I love helping software understand humans by crafting simple and friendly interfaces. I am a co-founder and designer at <a href="https://gibbon.co">Gibbon</a>, the easiest platform to learn from each other.
</p>

<p>
I believe that creating pretty pixels is not enough, making software easy to use and seemingly simple is the real challenge. There is no silver bullet for designing perfect user experiences. It is hard work, sweat and determination that makes great products <i>&amp;</i> experiences.
</p>
<p>
My designs would be useless pretty pixels if it wasn't for my partners in crime <a href="http://twitter.com/pindasminda">Joeri Djojosoeparto</a>, <a href="http://twitter.com/wunki">Petar Radoševiç</a> and <a href="http://twitter.com/woutlaban">Wout Laban</a>  who are the best programmers <i>&amp;</i> growth hacker in the world.
</p>
</div><!--/wrap-->
</section>

<section>
<figure>
  <img src="static/img/wouterdebres.jpg" alt="Wouter de Bres" class="2x"/>
</figure>
</section>

<section class="textual">
<div class="wrap">
<p>
I will not bore you with my full c.v. or description of every project I have worked on&mdash;you can check my <a href="https://www.linkedin.com/in/wouterdebres">LinkedIn</a> or <a href="http://dribbble.com/wdeb">Dribbble</a>&mdash;but here are some things I have done.
</p>
<ul class="roadmap">
<li>
Social Psychology (Msc)
<p class="small">Leiden University</p>
</li>
<li>
Information Design 
<p class="small">London University of the Arts</p>
</li>
<li>
<a href="http://www.leidenfilmfestival.nl/en">Leiden International Film Festival</a>
<p class="small">Co-founder</p>
</li>
<li>
Twoppy<i>&mdash;Mobile event guides</i>
<p class="small">Co-founder + Designer</p>
</li>
<li>
<a href="http://breadandpepper.com">Bread <i>&amp;</i> Pepper</a>&mdash;<i>Web &amp; app development</i>
<p class="small">
Co-founder + Designer<br/>
- De Volkskrant<br/>
- Mazda<br/>
- MyTaxi<br/>
- Doo<br/>
- Invy
</p>
</li>
<li class="now">
<a href="http://gibbon.co">Gibbon</a>—<i>Playlists for learning</i>
<p class="small">Co-founder + Designer</p>
</li>
</ul>

<p>Besides designing digital experiences I love to play around with paint and ride my motorcycle. Something else you should know about me is that I am allergic to cheese and bullshit.</p>
<footer class="article">
<p><a href="https://twitter.com/WdeB" class="twitter-follow-button" data-show-count="false">Follow @WdeB</a></p>
</footer>
</div><!--/wrap-->
</section>
{% endblock %}

{% block scripts %}
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
{% endblock scripts %}