{% extends "index.html" %}

{% block back %}
<a href="/" class="back">&#8617;</a>
{% endblock back %}

{% block content %}
<article>
<div class="wrap">
<header>
<h1><a href="about.html">Archive</a></h1>
</header>
</div><!--/wrap-->
</article> 
{% for post in posts %}
<article>
<div class="wrap">
<header>
<h1><a href="/{{ post.path }}">{{ post.title }}</a></h1>
<p class="meta">{{ post.date|date:"F j, Y" }}</p>
</header>
<p class="intro">{{ post.abstract }}<a href="/{{ post.path }}" class="more">... <span>&#8618;</span></a></p>
</div><!--/wrap-->
</article>
{% endfor %}
{% endblock %}
