{% extends "base.html" %}

{% block back %}
<a href="/" class="back">&#8617;</a>
{% endblock back %}

{% block content %}
<article>
<div class="wrap">
<header>
<h1>Work</h1>
<p class="meta">By Wouter de Bres</p>
</header>

</div><!--/wrap-->
</article>
<article>
<div class="wrap">
<header>
<h1>Gibbon iPad App</h1>
</header>
<p>My main focus as a designer is to create digital products that are easy to use and have a clear purpose. I believe there is no silver bullet for creating the perfect user experience. Hard work, sweat and determination makes</p>
<a href="" class="button">Download</a>
</div><!--/wrap-->
<figure>
  <img src="static/img/work-gibbon-ipad.jpg" alt="Wouter de Bres" class="2x"/>
</figure>
</article>
<article>
<div class="wrap">
<header>
<h1>Gibbon iPhone App</h1>
</header>
<p>My main focus as a designer is to create digital products that are easy to use and have a clear purpose. I believe there is no silver bullet for creating the perfect user experience. Hard work, sweat and determination makes</p>
<a href="" class="button">Download</a>
</div><!--/wrap-->
<figure>
  <img src="static/img/work-gibbon-iphone.jpg" alt="Wouter de Bres" class="2x"/>
</figure>
</article>
<article>
<div class="wrap">
<header>
<h1>Gibbon Website</h1>
</header>
<p>My main focus as a designer is to create digital products that are easy to use and have a clear purpose. I believe there is no silver bullet for creating the perfect user experience. Hard work, sweat and determination makes</p>
<a href="" class="button">gibbon.co</a>
</div><!--/wrap-->
<figure>
  <img src="static/img/work-gibbon-web.jpg" alt="Wouter de Bres" class="2x"/>
</figure>
</article>
<article>
<div class="wrap">
<header>
<h1>MyTaxi iPhone App UX</h1>
</header>
<p>My main focus as a designer is to create digital products that are easy to use and have a clear purpose. I believe there is no silver bullet for creating the perfect user experience. Hard work, sweat and determination makes</p>
<a href="" class="button">Download</a>
</div><!--/wrap-->
</article>
<article>
<div class="wrap">
<header>
<h1>Volkskrant Website Concept</h1>
</header>
<p>My main focus as a designer is to create digital products that are easy to use and have a clear purpose. I believe there is no silver bullet for creating the perfect user experience. Hard work, sweat and determination makes</p>
</div><!--/wrap-->
</article>
<article>
<div class="wrap">
<header>
<h1>Invy iPhone App</h1>
</header>
<p>My main focus as a designer is to create digital products that are easy to use and have a clear purpose. I believe there is no silver bullet for creating the perfect user experience. Hard work, sweat and determination makes</p>
</div><!--/wrap-->
</article>
{% endblock %}

{% block scripts %}
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
{% endblock scripts %}