{% extends "base.html" %}
{% block title %}WdeB | {{ title }}{% endblock title %}

{% block meta %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@WdeB">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ abstract|truncatechars:197 }}">
<meta name="twitter:creator" content="@WdeB">
<meta name="twitter:image" content="http://wouterdebr.es/static/img/wdeb-social.jpg">
<meta name="twitter:domain" content="wouterdebr.es">
<meta property="og:url" content="http://wouterdebr.es/{{ path }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ title }} by Wouter de Bres" />
<meta property="og:description" content="{{ abstract|truncatechars:197 }}" />
<meta property="og:image" content="http://wouterdebr.es/static/img/wdeb-social-fb.jpg" />
{% endblock meta %}

{% block back %}
<a href="/" class="back">&#8617;</a>
{% endblock back %}

{% block content %}
<article>
<div class="wrap">
<header>
<h1>{{ title }}</h1>
<p class="meta">{{ date|date:"M j, Y" }} </p>
</header>
{% block body %}
{% endblock body %}


<footer class="article">
<p>
<a href="https://twitter.com/intent/tweet?url=http://wouterdebr.es/{{ path }}&text=Go read: {{ title }}&via=WdeB">Share on Twitter</a> or <a class="facebook" href="#"
  onclick="
    window.open(
      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),
      'facebook-share-dialog',
      'width=626,height=436');
    return false;">Share on  Facebook</a>
</p>
<!--
<p class="small center">
{% if prevPost %}
	READ NEXT:<br/>
	<a href='/{{ prevPost.path }}'>
		 {{ prevPost.title }}
	</a>
{% endif %}
</p>
-->
</footer>
</div><!--/wrap-->
</article>

<section id="bio">
<div class="wrap">
<figure>
<a href="../about.html"><img src="{% static '/img/wouterdebres-small.jpg' %}" alt="Wouter de Bres"/></a>
</figure>
<h6><a href="../about.html">Wouter de Bres</a></h6>
<p>
I am a psychologist turned designer and co-founder at <a href="https://gibbon.co">Gibbon</a>&mdash;playlists for learning<a href="../about.html" class="more">... <span>&#8618;</span></a>
</p>
</div><!--/wrap-->
</section>
{% endblock content %}

{% block scripts %}
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
{% endblock scripts %}

{% comment %}
	<a class="twitter" href="https://twitter.com/share">twitter</a>
	<a class="facebook" href="#"
	  onclick="
	    window.open(
	      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),
	      'facebook-share-dialog',
	      'width=626,height=436');
	    return false;">facebook </a>
	<span class="prev">
		{% if prevPost %}
			<a href='/{{ prevPost.path }}'>
				<span class="arrow">&larr;</span> {{ prevPost.title }}
			</a>
		{% endif %}
	</span>
	<span class="next">
		{% if nextPost %}
			<a href='/{{ nextPost.path }}'>
				{{ nextPost.title }} <span class="arrow">&rarr;</span>
			</a>
		{% endif %}
	</span>
{% endcomment %}